* {
    margin: 0px;
    padding: 0px;
}
@font-face {
	font-family: 'League Gothic', src: url('../img/League-Gothic.otf');
}

body {
    background: #ebcca9 url(../img/bg-beige.png) repeat left top;
}

#wrapper {
    border-top: 10px solid black;
}

#field {
    width: 600px;
    height: 480px;
    margin: 25px auto;
    overflow: hidden;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, .6);
    background: #ebcca9 url(../img/bg-darker.png) repeat left top;
    border-radius: 2px;
}

#ball {
    width: 40px;
    height: 40px;
    position: relative;
    /*top:200px;
     left:200px;*/
    border-radius: 20px;
    background: #e00;
    box-shadow: 1px 1px 0 0 #333;
    -webkit-transition: all ls linear;
    -moz-transition: all ls linear;
    -o-transition: all ls linear;
    transition: all ls linear;
}

#racket {
    width: 120px;
    height: 22px;
    position: relative;
    top: 422px;
    left: 200px;
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 2px 0 0 #333;
    background: #666;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

#info {
    background: #ebcca9 url(../img/bg-brown.png) repeat left top;
    height: 88pt;
    padding: 10px 30px;
}

#info dl {
    margin: 0 auto;
    width: 540px;
    /*text-align:center;*/
}

#info dd {
    font: 72pt / 1 "League Gothic";
    color: #67a7db;
    text-shadow: 2px 2px /*#db6790*/ #eda6c6;
    clear: left;
}

#info dt {
    color: #ebcca9;
    font: 16pt / 1 serif;
    text-transform: capitalize;
}

#info span {
    float: left;
    /*width:127px;
     margin-right:50px;*/
    width: 177px;
    text-align: center;
    border-right: 3px dotted black;
}

#info #lives {
    border-right: 0;
}